span > img {
  position: relative;
  margin-left: 130px;
  margin-top: 10px;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  border: 1px solid black;
}

#name {
  position: absolute;
  padding-top: 25px;
}

#btngo {
  height: 20px;
  width: 40px;
}

label {
  position: absolute;
}
input {
  position: relative;
  margin-left: 50px;
}
button {
  margin-left: 100px;
  margin-top: 10px;
}